<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		
		<add key="TAGS" value="[
			 {'tag':'opcStart','valor':'Channel1.Device1.Start'}, 
			 {'tag':'opcEmergencia','valor':'Channel1.Device1.Emergency'}, 
			 {'tag':'opcOpaca','valor':'Channel1.Device1.Opaque'}, 
			 {'tag':'opcTransp','valor':'Channel1.Device1.Transparent'}, 
			 {'tag':'opcNopca','valor':'Channel1.Device1.Error'}, 
			 {'tag':'opcNtransp','valor':'Channel1.Device1.Reset'}, 
			 {'tag':'opcErro','valor':'Channel1.Device1.Busy'}, 
			 {'tag':'opcReset','valor':'Channel1.Device1.NumOpcOpaque'}, 
			 {'tag':'opcOcupada','valor':'Channel1.Device1.NumTransp'}, 	
			 ]"/>
		
	</appSettings>
</configuration>