<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		
		<add key="TAGS" value="[
			 {'tag':'opcStart','valor':'false','offset':'0.0'}, 
			 {'tag':'opcEmergencia','valor':'false','offset':'0.1'}, 
			 {'tag':'opcOpaca','valor':'false','offset':'0.2'}, 
			 {'tag':'opcTransp','valor':'false','offset':'0.3'}, 
			 {'tag':'opcNopca','valor':'0','offset':'2.0'}, 
			 {'tag':'opcNtransp','valor':'0','offset':'4.0'}, 
			 {'tag':'opcErro','valor':'false','offset':'6.0'}, 
			 {'tag':'opcReset','valor':'false','offset':'6.1'}, 
			 {'tag':'opcOcupada','valor':'false','offset':'6.2'}, 	
			 ]"/>
		
	</appSettings>
</configuration>